.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: rgba(249, 169, 251, 0.47);
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.budt-748 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 19px;
}
.navigation {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1014px;
  top: 13px;
}
.homepage {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 146px;
  position: relative;
}
.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.homepage2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.about {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 100px;
  position: relative;
}
.frame-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.about2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.contact {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.contact2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.frame-5 {
  display: flex;
  flex-direction: column;
  gap: 46px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1420px;
  position: absolute;
  left: 10px;
  top: 282px;
}
.bgmt-407-information-systems-projects {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-where-students-apply-their-knowledge-to-develop-real-world-is-solutions-for-business-clients-through-a-complete-is-development-process-students-design-and-implement-functional-prototypes-that-solve-practical-business-challenges-preparing-them-for-careers-in-technology-and-consulting {
  color: #fffefe;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 25px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.frame-4 {
  padding: 10px;
  flex-shrink: 0;
  display: grid;
  gap: 10px;
  position: relative;
  grid-template-columns: repeat(1, fit-content(100%));
  grid-template-rows: repeat(1, fit-content(100%));
}
.semester-details-spring-2025-professor-paul-t-shapiro-teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 25px;
  font-weight: 600;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
